.game_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_header {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 2px -2px gray;
}

.game_body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.team_container {
  flex: 1;
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team_container,
.current_game {
  flex: 1;
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current_game {
  background-color: #d0d0d0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th,
.td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.th {
  text-align: center;
}

.th {
  background-color: #f0f0f0;
}

.tr {
  border-bottom: 1px solid #ccc;
}

.strikeBatsman {
  /* background-color: #ffdddd; */
  background-color: #e74c3c;
  color: white;
}

.nonStrikeBatsman {
  /* background-color: #ddffdd; */
  background-color: #e67e22;
  color: white;
}

.currentBowler {
  background-color: #e84393;
  color: white;
}

.verticalLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
  padding: 20px;
  background-color: #ffffff; /* Light background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scoreSection {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scoreHeader {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.scoreDetails {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.currentScore {
  font-size: 1.8rem;
  font-weight: bold;
  color: #d9534f;
}

.oversPlayed {
  font-size: 1rem;
  color: #555;
}

.overSection,
.simulateSection,
.summarySection,
.winnerSection {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure it takes full width */
  text-align: center; /* Center the content */
}

.overSection {
  margin-top: 20px;
}

.ballContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.ball {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #f1c40f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.wicket {
  color: #e74c3c; /* Color for "WC" (wicket) */
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background-color: #0056b3;
}

.bowlerSelection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.selectBowlerContainer {
  display: flex;
  flex-direction: column;
}

.bowlerLabel {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.bowlerSelect {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
}
