.summary_container {
  width: 100%;
  box-sizing: border-box;
}

.summary_header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.innings_container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #333;
  margin-top: 3rem;
}

.inning_section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.inning_tables {
  display: flex;
  justify-content: space-between;
}

.inning_heading {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.inning_summary,
.bowling_summary {
  width: 48%;
}

.inning_summary h2 {
  color: white;
}

.batting_table,
.bowling_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.batting_table th,
.batting_table td,
.bowling_table th,
.bowling_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: white;
}
