.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.btn {
  padding: 0.5rem;
  margin: 0.5rem;
}

.btn:hover {
  background-color: aqua;
}
